body{
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.navbar{
    background-image: linear-gradient(180deg, rgb(211, 96, 96), rgb(205, 205, 205));
}

.mesaj{
    font-size: 19px;
}

.githuub{
    font-size: 24px;
}
